<div id="buttons">
   <div id="signupbutton" style="cursor: pointer;" onclick="window.location='signup';">
      SIGN UP
   </div>
   </br>
   <div id="loginbutton" style="cursor: pointer;" onclick="window.location='login';">
      LOG IN
   </div>
</div>



